// Cores
$cor-primaria: #754EF9;
$cor-secundaria: #FFF;
$cinza: #202020;
$cinza-claro: #999;
$cinza-escuro: #333;
$roxo-claro: #754EF9;
$preto:#000;


// Fontes 
$fonte-1: 'Open Sans', sans-serif;
$fonte-2: 'Roboto', sans-serif;
// $fonte-3: ;


// Tipografia
@function em($pixel, $contexto: 16) {
    @return $pixel / $contexto + em;
}


@mixin tipo-1($size) {
    // Open Sans
    font-family: $fonte-1;
    @if $size == 14 {
        font-size: em(14);
        line-height: em(24, 14);
    }
    @if $size == 16 {
        font-size: em(16);
    }
    @if $size == 18 {
        font-size: em(18);
        line-height: em(20, 18);
    }
    @if $size == 26 {
        font-size: em(26);
        line-height: em(34, 26);
    }
    @if $size == 36 {
        font-size: em(36);
        line-height: em(34, 36);
    }
}

@mixin tipo-2($size) {
    // Roboto
    font-family: $fonte-1;
    @if $size == 14 {
        font-size: em(14);
        line-height: em(24, 14);
    }
    @if $size == 18 {
        font-size: em(18);
        line-height: em(24, 18);
    }
}