*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background: $cor-secundaria;
    font-family: $fonte-1;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
    padding-left: 0;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}