*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background: #FFF;
  font-family: "Open Sans", sans-serif;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.container, .row {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}

.grid-1 {
  width: calc(8.33333% - 15px);
}

.grid-2 {
  width: calc(16.66667% - 15px);
}

.grid-3 {
  width: calc(25% - 15px);
}

.grid-4 {
  width: calc(33.33333% - 15px);
}

.grid-5 {
  width: calc(41.66667% - 15px);
}

.grid-6 {
  width: calc(50% - 15px);
}

.grid-7 {
  width: calc(58.33333% - 15px);
}

.grid-8 {
  width: calc(66.66667% - 15px);
}

.grid-9 {
  width: calc(75% - 15px);
}

.grid-10 {
  width: calc(83.33333% - 15px);
}

.grid-11 {
  width: calc(91.66667% - 15px);
}

.grid-12 {
  width: calc(100% - 15px);
}

[class^="grid-"] {
  margin-left: 7.5px;
  margin-right: 7.5px;
  min-height: 1px;
}

@media screen and (max-width: 759px) {
  [class^="grid-"] {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
}

.offset-1 {
  margin-left: calc(8.33333% + 7.5px);
}

.offset-2 {
  margin-left: calc(16.66667% + 7.5px);
}

.offset-3 {
  margin-left: calc(25% + 7.5px);
}

.offset-4 {
  margin-left: calc(33.33333% + 7.5px);
}

.offset-5 {
  margin-left: calc(41.66667% + 7.5px);
}

.offset-6 {
  margin-left: calc(50% + 7.5px);
}

.offset-7 {
  margin-left: calc(58.33333% + 7.5px);
}

.offset-8 {
  margin-left: calc(66.66667% + 7.5px);
}

.offset-9 {
  margin-left: calc(75% + 7.5px);
}

.offset-10 {
  margin-left: calc(83.33333% + 7.5px);
}

.offset-11 {
  margin-left: calc(91.66667% + 7.5px);
}

.offset-12 {
  margin-left: calc(100% + 7.5px);
}

@media screen and (max-width: 759px) {
  .offset-1, .offset-2, .offset-3, .offset-4, .offset-5, .offset-6, .offset-7, .offset-8, .offset-9, .offset-10, .offset-11, .offset-12 {
    margin-left: 0;
  }
}

.container {
  margin: 0 auto;
  max-width: 1080px;
  position: relative;
}

@media screen and (min-width: 760px) and (max-width: 1079px) {
  .container {
    max-width: 760px;
  }
}

@media screen and (max-width: 759px) {
  .container {
    max-width: 480px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.row {
  margin-left: -7.5px;
  margin-right: -7.5px;
  position: relative;
}

@media screen and (max-width: 759px) {
  .row {
    margin-left: 0;
    margin-right: 0;
  }
}

.title {
  color: #333;
  font-weight: 600;
  margin-bottom: 15px;
  margin-top: 25px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 2.25em;
  line-height: 0.94444em;
}

.sub-title {
  color: #999;
  font-weight: 100;
  margin-bottom: 60px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 1.125em;
  line-height: 1.11111em;
}

.btn {
  background: #754EF9;
  color: #FFF;
  display: inline-block;
  min-width: 130px;
  padding: 5px 15px;
  text-align: center;
}

.btn-mobile {
  display: none;
  background: transparent;
  border: none;
  height: 50px;
  outline: none;
  width: 50px;
  z-index: 9;
}

@media screen and (max-width: 759px) {
  .btn-mobile {
    display: block;
  }
}

.btn-mobile span {
  background: #FFF;
  border-radius: 200px;
  display: block;
  height: 3px;
  transition: 0.5s;
  width: 100%;
}

.btn-mobile span:nth-child(2) {
  width: 80%;
}

.btn-mobile span:nth-child(2), .btn-mobile span:nth-child(3) {
  margin-top: 10px;
}

.btn-mobile span:nth-child(3) {
  width: 60%;
}

.btn-mobile.active span:nth-child(1) {
  transform: rotate(45deg);
}

.btn-mobile.active span:nth-child(2) {
  display: none;
}

.btn-mobile.active span:nth-child(3) {
  margin-top: -3px;
  transform: rotate(-45deg);
  width: 100%;
}

@media screen and (min-width: 1080px) {
  body, header {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media screen and (min-width: 760px) and (max-width: 1079px) {
  body, header {
    padding-left: 65px !important;
    padding-right: 65px !important;
  }
}

@media screen and (max-width: 759px) {
  body, header {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}

p {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

header {
  left: 0;
  padding: 0 100px;
  padding-top: 30px;
  position: absolute;
  width: 100%;
}

header .grid-12 {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

header ul {
  display: none;
}

@media screen and (max-width: 759px) {
  header ul {
    animation: animationMenu 0.5s forwards;
    background: #754EF9;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.17);
    display: none;
    height: 100vh;
    flex-direction: column;
    padding-top: 120px;
    position: fixed;
    left: 0;
    top: -16px;
    width: 280px;
    z-index: 1;
  }
  @keyframes animationMenu {
    from {
      margin-left: -280px;
    }
    to {
      margin-left: 0px;
    }
  }
  header ul.active {
    display: flex !important;
  }
  header ul.active::after {
    content: '';
    background: rgba(0, 0, 0, 0.4);
    display: inline-block;
    height: 100vh;
    left: 280px;
    position: absolute;
    right: -280px;
    top: 0;
    width: 200%;
  }
}

header ul li {
  align-items: center;
  display: flex;
}

header ul li + li {
  margin-left: 40px;
}

@media screen and (max-width: 759px) {
  header ul li + li {
    margin-left: 0px;
    margin-top: 10px;
  }
}

header a {
  color: #000;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-size: 0.875em;
  line-height: 1.71429em;
}

header a.btn {
  border-radius: 40px;
  padding: 10px 15px;
  width: 190px;
}

@media screen and (max-width: 759px) {
  header a:not(.logo) {
    border-radius: 0;
    color: #FFF;
    padding: 16px 30px;
    text-align: center;
    width: 100%;
    z-index: 9;
  }
}

header a.logo {
  margin-left: -2px;
}

.banner {
  height: 100vh;
  padding-top: calc(100px + 3%);
}

@media screen and (max-width: 759px) {
  .banner {
    height: auto;
    padding-top: calc(80px + 3%);
  }
}

.banner .container {
  min-height: 535px;
}

.banner::before, .banner::after {
  content: '';
  background: #754EF9;
  display: inline-block;
  position: absolute;
  left: 0;
  z-index: -1;
}

.banner::before {
  top: 0;
  height: 100vh;
  min-height: 230px;
  width: 30%;
}

@media screen and (min-width: 760px) and (max-width: 1079px) {
  .banner::before {
    width: 31%;
  }
}

@media screen and (max-width: 759px) {
  .banner::before {
    height: 35vh;
    width: 100%;
  }
}

.banner::after {
  bottom: 0;
  height: 15px;
  margin-top: 70px;
  width: 100%;
}

@media screen and (max-width: 759px) {
  .banner::after {
    content: none;
  }
}

.banner-img {
  align-items: center;
  display: flex;
}

.banner-img img {
  margin-left: -65px;
}

@media screen and (min-width: 760px) and (max-width: 1079px) {
  .banner-img img {
    margin-left: -10px;
  }
}

@media screen and (max-width: 759px) {
  .banner-img img {
    margin: 0 auto;
    width: 250px;
  }
}

.banner-info {
  text-align: center;
  padding-right: 0;
  position: relative;
}

@media screen and (min-width: 1080px) {
  .banner-info {
    padding-right: 50px !important;
  }
}

@media screen and (max-width: 759px) {
  .banner-info {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
}

.banner-info h1 {
  font-size: 100px;
  text-transform: uppercase;
  letter-spacing: -2px;
  line-height: 80px;
  margin-bottom: 15px;
}

@media screen and (min-width: 760px) and (max-width: 1079px) {
  .banner-info h1 {
    padding-right: 0;
  }
}

@media screen and (max-width: 759px) {
  .banner-info h1 {
    font-size: 60px;
    margin-bottom: 0;
    margin-top: 10px;
  }
}

.banner-info h1 span {
  color: #754EF9;
}

.banner-info p {
  font-family: "Open Sans", sans-serif;
  font-size: 1.625em;
  line-height: 1.30769em;
}

@media screen and (max-width: 759px) {
  .banner-info p {
    font-family: "Open Sans", sans-serif;
    font-size: 1.125em;
    line-height: 1.11111em;
  }
}

.banner-info > div {
  align-items: center;
  display: flex;
  font-weight: 600;
  margin-top: 40px;
  position: absolute;
  right: 30px;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
}

@media screen and (max-width: 759px) {
  .banner-info > div {
    position: relative;
  }
}

.banner-info > div button {
  background: #FFF;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.17);
  height: 70px;
  margin-right: 20px;
  width: 70px;
}

.banner-info > div button::after {
  content: '';
  background: url(../img/icon/play-button.jpg) no-repeat;
  display: inline-block;
  height: 60px;
  left: 30px;
  position: absolute;
  top: 23px;
  width: 60px;
}

.banner-phrase {
  bottom: -40px;
  color: #fff;
  left: 0;
  position: absolute;
  text-transform: uppercase;
}

@media screen and (max-width: 759px) {
  .banner-phrase {
    position: relative;
  }
}

.banner-networks {
  position: absolute;
  bottom: -37%;
  right: -20px;
  top: auto;
}

@media screen and (max-width: 759px) {
  .banner-networks {
    left: 0;
    position: relative;
    width: 100%;
  }
}

@media screen and (min-width: 1080px) {
  .banner-networks {
    right: -60px;
    top: 20%;
  }
}

.banner-networks ul {
  display: flex;
}

@media screen and (min-width: 1080px) {
  .banner-networks ul {
    display: inherit;
  }
}

@media screen and (max-width: 759px) {
  .banner-networks ul {
    justify-content: center;
  }
  .banner-networks ul li {
    height: fit-content;
    position: relative;
  }
}

.banner-networks ul li:first-child {
  margin-right: 65px;
  transform: rotate(0);
}

@media screen and (max-width: 759px) {
  .banner-networks ul li:first-child {
    margin-bottom: 0;
  }
}

.banner-networks ul li:nth-child(2)::after {
  height: 1px;
  left: 135px;
  position: absolute;
  top: 27px;
  width: 70px;
}

@media screen and (max-width: 759px) {
  .banner-networks ul li:nth-child(2)::after {
    left: -60px;
    top: 10px;
    width: 55px;
  }
}

.banner-networks ul li:not(:first-child) {
  margin-bottom: 15px;
  padding-left: 20px;
}

@media screen and (min-width: 1080px) {
  .banner-networks ul li:not(:first-child) {
    padding-left: 58px !important;
  }
}

.banner-networks li:first-child {
  color: #754EF9;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 140px;
  text-transform: uppercase;
}

@media screen and (min-width: 1080px) {
  .banner-networks li:first-child {
    transform: rotate(90deg) !important;
    margin-right: -40px !important;
  }
}

.banner-networks li:nth-child(2)::after {
  content: '';
  background: #754EF9;
  display: inline-block;
}

@media screen and (min-width: 1080px) {
  .banner-networks li:nth-child(2)::after {
    height: 55px !important;
    left: 63px !important;
    top: 100px !important;
    width: 1px !important;
  }
}

.info {
  margin-bottom: 85px;
  margin-top: 85px;
}

.info-item {
  align-items: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.17);
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 70px 15px;
}

@media screen and (max-width: 759px) {
  .info-item + .info-item {
    margin-top: 15px;
  }
}

@media screen and (min-width: 1080px) {
  .info-item {
    padding: 70px;
  }
}

.info-item strong {
  color: #000;
  font-style: italic;
  margin: 45px 0 25px;
}

.info-item p {
  color: #999;
  font-weight: 100;
  font-family: "Open Sans", sans-serif;
  font-size: 0.875em;
  line-height: 1.71429em;
}

.info-item a.btn {
  display: inline-block;
  font-style: italic;
  margin-top: 75px;
  font-family: "Roboto", sans-serif;
  font-size: 0.75em;
  line-height: 2em;
}

.portfolio .row > * {
  margin-bottom: 10px;
}

.portfolio-item {
  position: relative;
}

.portfolio-item:hover .portfolio-details {
  display: flex !important;
}

.portfolio-item img {
  width: 100%;
}

.portfolio-details {
  display: none;
  align-items: center;
  background: #754EF9;
  color: #FFF;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
}

.portfolio-details h4 {
  font-weight: 500;
  margin-bottom: 15px;
  margin-top: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 2.25em;
  line-height: 0.94444em;
}

@media screen and (min-width: 760px) and (max-width: 1079px) {
  .portfolio-details h4 {
    font-family: "Open Sans", sans-serif;
    font-size: 1.125em;
    line-height: 1.11111em;
  }
}

.portfolio-details p {
  font-weight: 100;
  width: 80%;
  font-family: "Open Sans", sans-serif;
  font-size: 0.875em;
  line-height: 1.71429em;
}

@media screen and (min-width: 760px) and (max-width: 1079px) {
  .portfolio-details p {
    margin-bottom: 15px;
    max-height: 70px;
    overflow-y: hidden;
  }
}

.portfolio-details a {
  color: #FFF;
  bottom: 15px;
  font-weight: 100;
  position: absolute;
  right: 15px;
  font-family: "Open Sans", sans-serif;
  font-size: 0.875em;
  line-height: 1.71429em;
}

.portfolio-details a::after {
  content: '';
  background: url(../img/icon/expand.png) no-repeat;
  background-size: contain;
  display: inline-block;
  height: 24px;
  margin-left: 10px;
  width: 24px;
}

.testimonial {
  margin-bottom: 85px;
  margin-top: 85px;
}

.testimonial-slider {
  padding-right: 65px;
  padding-left: 65px;
}

@media screen and (max-width: 759px) {
  .testimonial-slider {
    padding-right: 10px;
    padding-left: 10px;
    margin-right: 14px;
    margin-left: 14px;
  }
}

.testimonial-slider-item {
  align-items: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.17);
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 45px;
  position: relative;
  text-align: center;
}

.testimonial-slider-item::after, .testimonial-slider-item::before {
  content: '';
  background: #754EF9;
  display: inline-block;
  height: 90%;
  position: absolute;
  width: 25px;
}

.testimonial-slider-item::before {
  left: 0;
  margin-left: -25px;
}

.testimonial-slider-item::after {
  right: 0;
  margin-right: -25px;
}

.testimonial-slider-item h4 {
  margin-bottom: 35px;
  margin-top: 35px;
}

.testimonial-slider-item p {
  color: #999;
  font-weight: 100;
  font-family: "Open Sans", sans-serif;
  font-size: 0.875em;
  line-height: 1.71429em;
}

.testimonial-slider-control {
  margin-top: 55px;
}

.testimonial-slider-control ul {
  justify-content: center;
  display: flex;
}

.testimonial-slider-control li button {
  background: #e9e4fe;
}

.testimonial-slider-control li.active button {
  background: #754EF9;
}

.testimonial-slider-control li + li {
  margin-left: 15px;
}

.testimonial-slider-control button {
  border: none;
  border-radius: 50%;
  height: 13px;
  width: 13px;
}

.contact {
  margin-bottom: 100px;
}

.contact form {
  display: flex;
  justify-content: center;
}

.contact form > * {
  height: 50px;
}

.contact form input {
  border: solid 1px #754EF9;
  border-right: none;
  padding: 10px 12px;
  width: 320px;
  font-family: "Open Sans", sans-serif;
  font-size: 0.875em;
  line-height: 1.71429em;
}

.contact form button {
  background: #754EF9;
  border: solid 1px #754EF9;
  border-left: none;
  color: #FFF;
  font-style: italic;
  width: 160px;
  font-family: "Roboto", sans-serif;
  font-size: 0.875em;
  line-height: 1.71429em;
}

.modal-container {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 200;
}

.modal-container.active {
  display: flex;
}

.modal {
  background: #fff;
  border-radius: 5px;
  padding: 40px;
  border: solid 10px #754EF9;
  position: relative;
  min-width: 300px;
}

.modal .fechar {
  color: #fff;
  background: #754EF9;
  border: 4px solid white;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.2em;
  font-weight: 600;
  height: 50px;
  right: -30px;
  top: -30px;
  position: absolute;
  width: 50px;
}

.modal-video {
  height: 350px;
  width: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  background: #754EF9;
  box-shadow: -100px 0 0 #754EF9, 100px 0 0 #754EF9;
  padding: 55px 0;
}

footer .grid-12 {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 759px) {
  footer .grid-12 {
    flex-direction: column;
  }
}

footer ul {
  display: flex;
}

footer li {
  align-items: center;
  display: flex;
  text-align: center;
}

footer ul:nth-child(2) li + li {
  margin-left: 55px;
}

@media screen and (min-width: 760px) and (max-width: 1079px) {
  footer ul:nth-child(2) li + li {
    margin-left: 35px;
  }
}

@media screen and (max-width: 759px) {
  footer ul:nth-child(2) li + li {
    margin-left: 50px;
  }
}

footer ul:nth-child(3) li + li {
  margin-left: 30px;
}

footer a {
  color: #FFF;
  font-weight: 100;
  font-family: "Open Sans", sans-serif;
  font-size: 0.875em;
  line-height: 1.71429em;
}

.animation-scroll {
  opacity: 0;
  transform: translate3d(-30px, 0, 0);
  transition: 0.4s;
}

.animation-scroll.active {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.active .modal {
  animation: animaModal 0.3s forwards;
}

@keyframes animaModal {
  from {
    opacity: 0;
    transform: translate3d(-30px, 0px, 0);
  }
  top {
    opacity: 1;
    transform: translate(0, 0, 0);
  }
}
