.contact-main {
    align-items: center;
    display: flex;
    min-height: 90vh;
}

.contact-main .row {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 80vh;
    margin: 0 auto;
    min-height: 660px;
    padding-bottom: 5%;
    width: 80%;
}

.contact-main-banner {
    background: url(../../img/contact-banner.jpg) no-repeat !important;
    background-size: cover !important;
    background-position: 63% 10% !important;
    border-radius: 10px 0 0 10px;
    height: 84%;
    min-height: 550px;
    width: 55%;
}

.contact-main-content {
    border: solid 2px #e7e7e7;
    border-left: none;
    border-radius: 0 10px 10px 0;
    display: flex;
    flex-direction: column;
    height: 84%;
    justify-content: center;
    min-height: 550px;
    padding: 40px;
    width: 45%;
}

.contact-main-content input,
.contact-main-content button {
    width: 100%;
}

.contact-main-content textarea {
    height: 100px;
    margin-bottom: 24px;
    width: 100%;
}


